<template>
  <div class="price-amount">
    <div class="wrapper-price">
      <button @click="$emit('minus')">
        –
      </button>
      <input type="" v-model="amount">
      <button @click="$emit('plus')">
        +
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "AmountCounter",
  props: ['amount']
}
</script>

<style scoped>
button {
  border: 0;
  outline: none;
  font-size: 3rem;
  background-color: white;
}
input{
  width: 1rem;
  height: 70%;
  font-size: 1.5rem;
  border: 0;
  outline: none;
}
.wrapper-price {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}
</style>
