<template>
<div class="big-slider">
  <carousel
    :perPage="1"
    :scrollPerPage="true"
    :paginationEnabled="false"
    :loop="true"
  >
    <slide
      v-for="(item, index) in this.banners"
      :key="index"
    >
      <img :src="storage + item.image">
    </slide>
  </carousel>
</div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "BigSlider",
  computed:{
    ...mapGetters([
      'banners',
      'storage'
    ]),
  },
  beforeMount() {
    this.$store.dispatch('getBanners');
  }
}
</script>

<style scoped>
.big-slider {
  grid-area: big-slider;
}
img {
  width: 100%;
}
</style>
