<template>
<div class="cart-product">
  <img :src="storage + product.image">
  <p class="title">
    {{ product.title }}
  </p>
  <amount-counter
    @minus="minusAmount"
    @plus="plusAmount"
    :amount="product.amount"
  />
  <p>
    {{ total }} ₸
  </p>
  <button @click="$store.dispatch('removeFromCart', product.id)">
    x
  </button>
</div>
</template>

<script>
import {mapGetters} from "vuex";
import AmountCounter from "@/components/AmountCounter";

export default {
  name: "CartProduct",
  components: {AmountCounter},
  props: ['product'],
  computed:{
    ...mapGetters([
      'storage'
    ]),
    total () {
      return this.product.price * this.product.amount
    }
  },
  methods: {
    minusAmount(){
      if(this.product.amount > 1){
        let vuexProduct = {
          id: this.product.id,
          amount: this.product.amount
        }
        vuexProduct.amount--
        this.$store.dispatch('updateProductInCart', vuexProduct)
      }
    },
    plusAmount(){
      let vuexProduct = {
        id: this.product.id,
        amount: this.product.amount
      }
      vuexProduct.amount++
      this.$store.dispatch('updateProductInCart', vuexProduct)
    },
  },
}
</script>

<style scoped>
.cart-product {
  display: grid;
  grid-template-columns: 15% 40% 25% 10% 10%;
  height: 5rem;
  background-color: white;
  border-radius: 5px;
}
img {
  height: 100%;
}
.title {
  text-align: left;
}
</style>
