<template>
  <details>
    <summary>
      <div>
        <img :src="storage + category.image">
        <p>
          {{ category.title }}
        </p>
      </div>
    </summary>
    <ul>
      <subcategory
        v-for="(subcategory, index) in subcategories"
        :key="index"
        :subcategory="subcategory"
      />
    </ul>
  </details>
</template>

<script>
import Subcategory from "~/components/Subcategory";
import {mapGetters} from "vuex";

export default {
  name: "Category",
  components: {Subcategory},
  props: ['category', 'subcategories'],
  computed:{
    ...mapGetters([
      'storage'
    ]),
  }
}
</script>

<style scoped>
details {
}
details > summary {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  outline: none;
}

details > summary div{
  display: flex;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  content: '>️';
  display: flex;
  align-self: center;
}

details[open] > summary::after {
  content: '˅';
  display: flex;
  align-self: center;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

img {
  width: 50px;
}
div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
div p{
  width: 60%;
  text-align: left;
}
</style>
