<template>
  <div class="categories">
    <category
      v-for="(category, index) in categories.whereNull('parent_id').all()"
      :key="index"
      :category="category"
      :subcategories="categories.where('parent_id', category.id).all()"
    />
  </div>
</template>

<script>
import Category from "~/components/Category";
import {mapGetters} from "vuex";

export default {
  name: "Categories",
  components: {Category},
  created() {
  },
  computed:{
    ...mapGetters([
      'categories'
    ]),
  }
}
</script>

<style scoped>
.categories {
  grid-area: categories;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 100%;
  grid-auto-rows: min-content;;
}
</style>
