<template>
  <header>
    <div>
      <button class="big menu">
        ☰
      </button>
      <nuxt-link :to="'/profile'" class="big">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
          <path d="M17 19V17C17 15.9391 16.5786 14.9217 15.8284 14.1716C15.0783 13.4214 14.0609 13 13 13H5C3.93913 13 2.92172 13.4214 2.17157 14.1716C1.42143 14.9217 1 15.9391 1 17V19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M9 9C11.2091 9 13 7.20914 13 5C13 2.79086 11.2091 1 9 1C6.79086 1 5 2.79086 5 5C5 7.20914 6.79086 9 9 9Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </nuxt-link>
    </div>
    <logo />
    <div>
      <nuxt-link :to="'/search'" class="big">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19.0004 19.0004L14.6504 14.6504" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </nuxt-link>
      <nuxt-link :to="'/cart'" class="cart-amount big">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M8 23C9.10457 23 10 22.1046 10 21C10 19.8954 9.10457 19 8 19C6.89543 19 6 19.8954 6 21C6 22.1046 6.89543 23 8 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M20 23C21.1046 23 22 22.1046 22 21C22 19.8954 21.1046 19 20 19C18.8954 19 18 19.8954 18 21C18 22.1046 18.8954 23 20 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.67 6H23L21.32 14.39C21.2286 14.8504 20.9781 15.264 20.6125 15.5583C20.2468 15.8526 19.7893 16.009 19.32 16H8.75C8.26168 16.0041 7.78873 15.8295 7.42031 15.509C7.05189 15.1884 6.81347 14.7442 6.75 14.26L5.23 2.74C5.16697 2.25924 4.93142 1.81774 4.5672 1.49767C4.20298 1.17759 3.73488 1.00073 3.25 1H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>
          {{ amount }}
        </span>
      </nuxt-link>
    </div>

  </header>
</template>

<script>
import Logo from "@/components/Logo";
import {mapGetters} from "vuex";
import collect from 'collect.js';

export default {
  name: "HeaderSticky",
  components: {Logo},
  computed:{
    ...mapGetters([
      'cart'
    ]),
    amount(){
      return collect(this.cart).count()
    }
  },
}
</script>

<style scoped>
header {
  position:         sticky;
  width:            100%;
  top:              0;
  z-index:          2;
  height:           80px;
  display:          flex;
  background-image: url("/header-img.png");
  align-items: center;
}
header div {
  padding: 2rem;
}
.cart-amount {
  position: relative;
}
.cart-amount span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF7A00;
  position: absolute;
  right: -9px;
  top: -8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big {
  font-size: 1.5rem;
  margin: 1rem;
}
.menu {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
</style>
