<template>
  <nuxt-link :to="'/'">
    <img class="NuxtLogo" src="/logo.png">
  </nuxt-link>
</template>

<style scoped>
a {
  display: block;
  margin: auto;
}
.NuxtLogo {
  animation: 1s appear;
  width: 150px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
