<template>
  <div class="products">
    <ProductCard
      v-for="(product, index) in products.all()"
      :key="index"
      :product="product"
    />
  </div>
</template>

<script>
import ProductCard from "@/components/ProductCard";
import {mapGetters} from "vuex";
export default {
  name: "Products",
  components: {ProductCard},
  computed:{
    ...mapGetters([
      'products'
    ]),
  }
}
</script>

<style scoped>
.products {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 1.8rem;
}
</style>
