<template>
  <div class="product-card">
    <div class="product-card-image-div">
      <img class="product-card-image-div-img" :src="storage + product.image">
    </div>
    <p class="title">
      {{ product.title }}
    </p>
    <div class="price-amount-main">
      <amount-counter
        @minus="minusAmount"
        @plus="plusAmount"
        :amount="amount"
      />
      <div>
        <p>
          {{ total }} ₸
        </p>
      </div>
    </div>
    <div class="buttons-row">
      <button class="add-cart" @click="addToCart">
        <img src="/card.svg" alt="">
        <span>В корзину</span>
      </button>
      <button class="add-favorite">
        <img src="/favorite.svg" alt="">
      </button>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import AmountCounter from "@/components/AmountCounter";

export default {
  name: "ProductCard",
  components: {AmountCounter},
  props: ['product'],
  data () {
    return {
      amount: 1
    }
  },
  methods: {
    minusAmount(){
      if(this.amount > 1){
        this.amount--
      }
    },
    plusAmount(){
      this.amount++
    },
    addToCart(){
      this.$store.dispatch('addToCart', {
        id: this.product.id,
        amount: this.amount,
        price: this.product.price,
        title: this.product.title,
        image: this.product.image,
      })
    }
  },
  computed:{
    ...mapGetters([
      'storage'
    ]),
    total () {
      return this.product.price * this.amount
    }
  }
}
</script>

<style scoped>
.product-card {
  width: 20rem;
  height: 30rem;
  box-shadow: 0px 2px 12px rgba(85, 88, 92, 0.15);
  border-radius: 5px;
  background-color: white;
}
.product-card-image-div {
  width: 95%;
  margin: 0 auto auto;
  padding-top: 2rem;
  height: 222px;
}
.product-card-image-div-img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.price-amount-main {
  width: 90%;
  margin: 2rem auto auto;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 90%;
  margin: 2rem auto auto;
}
.buttons-row{
  width: 90%;
  margin: 2rem auto auto;
  display: flex;
  justify-content: space-between;
}
.add-cart {
  width: 68%;
}
.add-favorite {
  width: 28%;
}
</style>
