<template>
  <li @click="getProducts">
    {{ subcategory.id }}: {{ subcategory.title }}
  </li>
</template>

<script>
export default {
  name: "Subcategory",
  props: ['subcategory'],
  methods: {
    getProducts(){
      this.$store.dispatch('getProductsByCategory', this.subcategory.id)
    }
  }
}
</script>

<style scoped>
  li {
    cursor: pointer;
    height: 50px;
  }
</style>
