<template>
  <div class="top-catalog-slider">
    <carousel
      :perPageCustom="[[768, 2], [1024, 4]]"
      :scrollPerPage="true"
      :paginationEnabled="false"
    >
      <slide class="action-buttons-container">
        <button
          :class="'action-button ' + (active == 1 ? 'active' : '')"
          @click="$store.dispatch('getProductsNew'); active = 1"
        >
          <img src="/TOP1.svg">
          <p>
            ТОП блюда
          </p>
        </button>
      </slide>
      <slide class="action-buttons-container">
        <button
          :class="'action-button ' + (active == 2 ? 'active' : '')"
          @click="$store.dispatch('getProductsTop'); active = 2"
        >
          <img src="/new.svg">
          <p>
            Новинки
          </p>
        </button>
      </slide>
      <slide class="action-buttons-container">
        <button
          :class="'action-button ' + (active == 3 ? 'active' : '')"
          @click="$store.dispatch('getProductsDay'); active = 3"
        >
          <img src="/fire.svg">
          <p>
            Блюда дня
          </p>
        </button>
      </slide>
      <slide class="action-buttons-container">
        <button
          :class="'action-button ' + (active == 4 ? 'active' : '')"
          @click="$store.dispatch('getProductsDiscount'); active = 4"
        >
          <img src="/percentage.svg">
          <p>
            Акции
          </p>
        </button>
      </slide>
    </carousel>
  </div>
</template>

<script>
export default {
  name: "TopCatalogSlider",
  data() {
    return {
      active: 1
    }
  }
}
</script>

<style scoped>
.top-catalog-slider {
  grid-area: buttons;
  background-color: rgb(236, 227, 205);
}
.action-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 9rem;
  margin: 1rem;
  background-color: white;
  border: 0;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.active {
  -webkit-filter: none;
  filter: none;
}
.action-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
