<template>
  <div>
    <header-sticky />
    <Nuxt />
  </div>
</template>

<style>
body {
  margin: 0;
}
</style>
<script>
import HeaderSticky from "@/components/HeaderSticky";
import Swal from "sweetalert2";

export default {
  components: {HeaderSticky},
  created() {
    var d = new Date(); // current time
    var hours = d.getHours();
    var mins = d.getMinutes();
    var day = d.getDay();

    if((hours >= 23 && mins >= 30) || hours < 11) {
      Swal.fire({
        title: 'ВНИМАНИЕ!',
        text: `Доброго времени суток.

Уважаемые посетители,
заказы обрабатываются менеджерами в период с 11:00 утра до 23:30 вечера.

Заказы поступившие после 23:30 будут обработаны на следующий день.

С уважением, Жаровня`,
        confirmButtonText: 'Спасибо, понятно'
      })
    }
  }
}
</script>
