<template>
<main class="cart-main">
  <div></div>
  <div class="grid-wrapper">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="">Главная </a></li>
        <li class="breadcrumb-item active" aria-current="page">Корзина</li>
      </ul>
    </nav>
    <h1>
      Корзина
    </h1>
    <div class="person-and-clear">
      <p>
        Количество персон
      </p>
      <amount-counter />
      <button @click="$store.dispatch('purgeCart')">
        Очистить корзину
      </button>
    </div>
    <div class="products">
      <cart-product
        v-for="(product, index) in this.cart"
        :key="index"
        :product="product"
      />
    </div>
    <div class="count">
      <p>
        {{ count }} позиции на сумму {{ totalSum }}
      </p>
    </div>
    <div class="order">
      <button>
        Оформить заказ
      </button>
    </div>
    <div>
      <h1 class="recommendations">
        Рекомендуемые блюда
      </h1>
      <div class="products">
        <ProductCard
          v-for="(product, index) in products"
          :key="index"
          :product="product"
        />
      </div>
    </div>
  </div>
</main>
</template>

<script>
import CartProduct from "@/components/CartProduct";
import {mapGetters} from "vuex";
import collect from 'collect.js';
import AmountCounter from "@/components/AmountCounter";
import ProductCard from "@/components/ProductCard";

export default {
  name: "cart",
  components: {ProductCard, AmountCounter, CartProduct},
  data() {
    return {
      products: []
    }
  },
  beforeMount() {
    this.$axios.$get(this.api + 'products/all')
      .then(response => {
        this.products = response.data
      })
  },
  computed:{
    ...mapGetters([
      'cart',
      'api'
    ]),
    totalSum() {
      return collect(this.cart).reduce((carry, item) => carry + (item.amount * item.price), 0);
    },
    count() {
      return collect(this.cart).count()
    }
  }
}
</script>

<style scoped>
main {
  background-image: url("/main-banner.png");
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1rem auto 1rem;
}
nav {
  grid-area: breadcrumbs;
}
.person-and-clear {
  grid-area: clear;
  display: flex;
  justify-content: space-between;
}
h1 {
  grid-area: title;
  color: white;
  margin-bottom: 3rem;
}
.count {
  grid-area: count;
  color: white;
  display: flex;
  justify-content: center;
}
.order {
  grid-area: order;
  color: white;
  display: flex;
  justify-content: center;
}
.products {
  grid-area: products;
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
}
.grid-wrapper {
  column-gap: 1rem;
  display: grid;
  grid-template-areas:
    "breadcrumbs"
    "title"
    "clear"
    "products"
    "count"
    "order"
    ;
  row-gap: 1rem;
}
ul {
  display: flex;
  list-style-type: none;
  color: white;
  padding: 2rem;
  border: 1px solid white;
}
.products {
  grid-area: products;
  display: grid;
  grid-template-columns: 100%;;
  row-gap: 1.8rem;
}
.recommendations ~ .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 1.8rem;
}
</style>
