<template>
  <div>
    <big-slider />
    <div class="container">
      <top-catalog-slider/>
      <div class="content">
        <Categories/>
        <products/>
      </div>
    </div>
  </div>
</template>

<script>
import Categories from "~/components/Categories";
import TopCatalogSlider from "@/components/TopCatalogSlider";
import Products from "@/components/Products";
import BigSlider from "@/components/BigSlider";
export default {
  components: {BigSlider, Products, TopCatalogSlider, Categories},
  beforeMount() {
    this.$store.dispatch('getCategories')
    this.$store.dispatch('getProducts')
  }
}
</script>

<style scoped>
  .container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "buttons"
      "catalog";
    row-gap: 2rem;
  }
  .content {
    grid-area: catalog;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: "categories products";
    column-gap: 5rem
  }
</style>
