<template>
  <main>
    <h1>
      Поиск
    </h1>
    <div>
      <input v-model="term">
      <button>
        Найти
      </button>
    </div>
    <div v-if="term.length > 0">
      <p>
        Результаты поиска: {{ term }}
      </p>
      <div class="search-result">
        <ProductCard
          v-for="(product, index) in found"
          :key="index"
          :product="product"
        />
      </div>
    </div>
  </main>
</template>

<script>
import {mapGetters} from "vuex";
import { debounce } from "debounce";
import ProductCard from "@/components/ProductCard";

export default {
  name: "search",
  components: {ProductCard},
  data() {
    return {
      term: '',
      found: []
    }
  },
  methods: {
    debounceInput: debounce(function (e) {
      this.search()
    }, 400),
    search() {
      this.$axios.$get(this.api + 'products/search?query=' + this.term)
        .then(response => {
          this.found = response.data
        })
    }
  },
  computed:{
    ...mapGetters([
      'api'
    ]),
  },
  watch: {
    term(value){
      this.debounceInput()
    }
  }
}
</script>

<style scoped>
.search-result {
  display: grid;
  grid-template-columns: repeat(3, 30% [col-start]);
  column-gap: 5%;
}
</style>
